[Desktop Entry]
Type=Application
Version=1.0
Name=nysiris
GenericName=Nym Mixnet Client
Comment=Browse and message through the Nym mixnet
Exec=nysiris
TryExec=nysiris
Icon=nysiris
Terminal=false
Categories=Network;WebBrowser;Security;
Keywords=nym;mixnet;privacy;anonymous;sphinx;
StartupNotify=true
